[user]
	name = Jose Rodriguez
	email = jrodriguez@interactivetel.com
[credential]
	helper = cache --timeout=3600
[core]
	autocrlf = input
	editor = code --wait
[color]
	ui = true

[diff]
    tool = vscode

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait $MERGED
