[user]
	name = Jose Rodriguez
	email = jmrbcu@gmail.com
[credential]
	helper = cache --timeout=3600
[core]
	editor = code --wait
[color]
	ui = true

# USE: git difftool <COMMIT1> <COMMIT2>
#  Ej: Diff between the last commit and the previous one
#      git difftool HEAD~1 HEAD 
[diff]
	tool = vscode

[difftool]
    prompt = false

[difftool "vscode"]
    cmd = code --reuse-window --wait --diff "$LOCAL" "$REMOTE"
    trustExitCode = false

# USE: git mergetool
[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --reuse-window --wait "$MERGED"

