[user]
	name = Jose Rodriguez
	email = jrodriguez@interactivetel.com
[credential]
	helper = cache --timeout=3600
[core]
	editor = vim
	excludesfile = /Users/jmrbcu/.gitignore_global
	autocrlf = input
[color]
	ui = true
[mergetool]
	keepBackup = false
#[push]
#	default = simple
#[difftool "sourcetree"]
#	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
#	path = 
#[mergetool "sourcetree"]
#	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
#	trustExitCode = true
